@media screen and (max-width: 1050px) {
  /* .gpt3__navbar-links_container {
    display: none;
  } */
}

@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
}

/*@media screen and (max-width: 550px) {
  .gpt3__navbar {
    padding: 2rem;
  }

  .gpt3__navbar-sign {
    display: none;
  }

  .gpt3__navbar-menu_container {
    top: 20px;
  }

  .gpt3__navbar-menu_container-links-sign {
    display: block;
  }
} */
