@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
#root {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

:root {
  --font-family: "Manrope", sans-serif;

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
